#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/opt/roboparty \
		-DCMAKE_PREFIX_PATH=/opt/roboparty \
		-DCMAKE_BUILD_TYPE=Release

override_dh_install:
	dh_install
	
	install -d debian/roboparty-bms/etc/default
	install -m 644 etc/default/bms_daemon.default debian/roboparty-bms/etc/default/bms_daemon

	install -d debian/roboparty-bms/etc/systemd/system
	install -m 644 etc/systemd/system/*.service debian/roboparty-bms/etc/systemd/system/
